<h1>Equipments</h1>

<p>Many equipments in the list</p>

<div class="example-button-row">
  <button mat-raised-button [routerLink]='["../edit"]' color="primary">Add</button>
</div>
<br>

<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef style="width:20%"> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>


    <ng-container matColumnDef="equipementType">
      <th mat-header-cell *matHeaderCellDef style="width:20%"> EquipmentType </th>
      <td mat-cell *matCellDef="let element"> {{element.equipementType}} </td>
    </ng-container>

    <ng-container matColumnDef="model">
      <th mat-header-cell *matHeaderCellDef style="width:20%"> Model </th>
      <td mat-cell *matCellDef="let element"> {{element.model}} </td>
    </ng-container>

    <ng-container matColumnDef="serialNumber">
      <th mat-header-cell *matHeaderCellDef style="width:20%"> Serial Number </th>
      <td mat-cell *matCellDef="let element"> {{element.serialNumber}} </td>
    </ng-container>

    <ng-container matColumnDef="calibrationDate">
      <th mat-header-cell *matHeaderCellDef style="width:20%"> Calibration Date </th>
      <td mat-cell *matCellDef="let element"> {{element.calibrationDate}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef style="width:20%"> Action </th>
      <td mat-cell *matCellDef="let equipment">
        <button mat-icon-button matTooltip="Edit" [matTooltipPosition]="'after'">
          <mat-icon aria-label="Example icon-button with a heart icon" [routerLink]="['../edit', equipment.id]">edit</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Delete" [matTooltipPosition]="'after'">
          <mat-icon aria-label="Example icon-button with a heart icon " (click)="deleteEquipment(equipment)">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-progress-bar mode="indeterminate" *ngIf="!equipments"></mat-progress-bar>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

</div>
